.nav-text {
    margin-left: 5px;
    color: rgb(243, 30, 243);
    font-weight: 700;
}

.freshClub {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: darkgray;
    font-size: 18px;
    font-weight: 500;
}

.freshClub a {
    text-decoration: none;
    margin: 22px;
}

.freshClub a:hover {
    color: orange;

}